.about-me__text {
    line-height: 22px;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 100px;
    letter-spacing: 0px;
}

@media screen and (max-width: 768px){
    .about-me__text{
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 88px;
    }
 }

 @media screen and (max-width: 320px){
    .about-me__text{
        font-size: 11px;
        line-height: 16px;
        margin-bottom: 40px;
    }
 }
