.register__form-button {
    width: 100%;
    margin-top: 68px;
    background-color: #3456F3;
    height: 45px;
    border-radius: 3px;
    text-align: center;
    padding: 15px 0;
    color: #fff;
    border: none;
    cursor: pointer;
    letter-spacing: 1.2px;
}

@media screen and (max-width: 454px){
    .register__form-button{
        margin-top: 155px;
        letter-spacing: 0.1px;
    }
 }