.portfolio {
    margin-top: 20px;
    padding: 0 70px;
    letter-spacing: -0.1px;
}

@media screen and (max-width: 768px){
    .portfolio{
        padding: 0 50px;
    }
 }

 @media screen and (max-width: 320px){
    .portfolio{
        padding: 0 14px;
        margin-top: 69px;
    }
 }